{
  "openapi": "3.0.0",
  "info": {
    "title": "Dialogporten",
    "description": "Dialogporten API description for both enduser and serviceowner users, as well as open metadata information for public key material.\u003Cbr\u003E\u003Cbr\u003EAll operations* described within this document require authentication and authorization. Read more at \u003Ca href=\"https://docs.altinn.studio/en/dialogporten/user-guides/authenticating/\"\u003Ehttps://docs.altinn.studio/en/dialogporten/user-guides/authenticating/\u003C/a\u003E\u003Cbr\u003E\u003Cbr\u003E\u003Cstrong\u003EAll GET operations* and POST operations may return or contain, respectively, personal identifiable information (national identity numbers and names).\u003C/strong\u003E\u003Cbr\u003E\u003Cbr\u003EFor more information about this product, see \u003Ca href=\"https://docs.altinn.studio/en/dialogporten\"\u003Ehttps://docs.altinn.studio/en/dialogporten\u003C/a\u003E\u003Cbr\u003E\u003Cbr\u003E\u003Cem\u003E* Except the metadata APIs",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://platform.tt02.altinn.no/dialogporten"
    }
  ],
  "paths": {
    "/api/v1/.well-known/oauth-authorization-server": {
      "get": {
        "tags": [
          "Metadata"
        ],
        "summary": "Gets the OAuth 2.0 Metadata for automatic configuration of clients verifying dialog tokens",
        "description": "This endpoint can be used by client integrations supporting automatic discovery of \"OAuth 2.0 Authorization Server\" metadata, enabling verification of dialog tokens issued by Dialogporten.",
        "operationId": "V1WellKnownOauthAuthorizationServerGet_OauthAuthorizationServer",
        "responses": {
          "200": {
            "description": "The OAuth 2.0 Authorization Server Metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1WellKnownOauthAuthorizationServerQueriesGet_OauthAuthorizationServer"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable, used when Dialogporten is in maintenance mode",
            "headers": {
              "Retry-After": {
                "description": "Delay before retrying the request. Datetime format RFC1123",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Service Unavailable"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/.well-known/jwks.json": {
      "get": {
        "tags": [
          "Metadata"
        ],
        "summary": "Gets the JSON Web Key Set (JWKS) containing the public keys used to verify dialog token signatures",
        "description": "This endpoint can be used by client integrations supporting automatic discovery of \"OAuth 2.0 Authorization Server\" metadata, enabling verification of dialog tokens issued by Dialogporten.",
        "operationId": "V1WellKnownJwksGet_Jwks",
        "responses": {
          "200": {
            "description": "The OAuth 2.0 Authorization Server Metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1WellKnownJwksQueriesGet_Jwks"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable, used when Dialogporten is in maintenance mode",
            "headers": {
              "Retry-After": {
                "description": "Delay before retrying the request. Datetime format RFC1123",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Service Unavailable"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/serviceowner/dialogs/{dialogId}/context/labels": {
      "get": {
        "tags": [
          "Serviceowner"
        ],
        "summary": "Retrieve service owner labels for a dialog.",
        "description": "Fetches all labels associated with the service owner context of a specific dialog.",
        "operationId": "V1ServiceOwnerServiceOwnerContextQueriesGetServiceOwnerLabel_ServiceOwnerLabel",
        "parameters": [
          {
            "name": "dialogId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the service owner labels.",
            "headers": {
              "Etag": {
                "description": "The new UUID ETag of the ServiceOwner Context",
                "schema": {
                  "type": "string"
                },
                "example": "123e4567-e89b-12d3-a456-426614174000"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/V1ServiceOwnerServiceOwnerContextQueriesGetServiceOwnerLabels_ServiceOwnerLabel"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The given dialog ID was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token. This endpoint requires a token from Maskinporten with the scope(s) \"digdir:dialogporten.serviceprovider\"."
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable, used when Dialogporten is in maintenance mode",
            "headers": {
              "Retry-After": {
                "description": "Delay before retrying the request. Datetime format RFC1123",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Service Unavailable"
                }
              }
            }
          }
        },
        "security": [
          {
            "maskinporten": [
              "digdir:dialogporten.serviceprovider"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Serviceowner"
        ],
        "summary": "Add a service owner label to a dialog",
        "description": "Add a label to the service owner context.\nOptimistic concurrency control is implemented using the If-Match header. Supply the Revision value from the GetDialog endpoint to ensure that the dialog is not modified/deleted by another request in the meantime.",
        "operationId": "V1ServiceOwnerServiceOwnerContextCommandsCreateServiceOwnerLabel_ServiceOwnerLabel",
        "parameters": [
          {
            "name": "dialogId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "if-Match",
            "in": "header",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "x-name": "dto",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1ServiceOwnerServiceOwnerContextCommandsCreateServiceOwnerLabel_Label"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "The dialog DialogServiceOwnerLabel was updated successfully.",
            "headers": {
              "Etag": {
                "description": "The new UUID ETag of the ServiceOwner Context",
                "schema": {
                  "type": "string"
                },
                "example": "123e4567-e89b-12d3-a456-426614174000"
              }
            }
          },
          "400": {
            "description": "Validation error occurred. See problem details for a list of errors.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict occurred while processing the request."
          },
          "412": {
            "description": "The supplied If-Match header did not match the current Revision value for the dialog. The request was not applied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token. This endpoint requires a token from Maskinporten with the scope(s) \"digdir:dialogporten.serviceprovider digdir:dialogporten.serviceprovider.changetransmissions\"."
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable, used when Dialogporten is in maintenance mode",
            "headers": {
              "Retry-After": {
                "description": "Delay before retrying the request. Datetime format RFC1123",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Service Unavailable"
                }
              }
            }
          }
        },
        "security": [
          {
            "maskinporten": [
              "digdir:dialogporten.serviceprovider",
              "digdir:dialogporten.serviceprovider.changetransmissions"
            ]
          }
        ]
      }
    },
    "/api/v1/serviceowner/dialogs/{dialogId}/context/labels/{label}": {
      "delete": {
        "tags": [
          "Serviceowner"
        ],
        "summary": "Delete a service owner label for a dialog",
        "description": "Removes a specific label from the service owner context of a dialog. If the label does not exist, a NotFound response is returned.",
        "operationId": "V1ServiceOwnerServiceOwnerContextCommandsDeleteServiceOwnerLabel_ServiceOwnerLabel",
        "parameters": [
          {
            "name": "dialogId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "label",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "if-Match",
            "in": "header",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted the service owner label.",
            "headers": {
              "Etag": {
                "description": "The new UUID ETag of the ServiceOwner Context",
                "schema": {
                  "type": "string"
                },
                "example": "123e4567-e89b-12d3-a456-426614174000"
              }
            }
          },
          "404": {
            "description": "The given dialog or service owner label was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict occurred while processing the request."
          },
          "412": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token. This endpoint requires a token from Maskinporten with the scope(s) \"digdir:dialogporten.serviceprovider\"."
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable, used when Dialogporten is in maintenance mode",
            "headers": {
              "Retry-After": {
                "description": "Delay before retrying the request. Datetime format RFC1123",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Service Unavailable"
                }
              }
            }
          }
        },
        "security": [
          {
            "maskinporten": [
              "digdir:dialogporten.serviceprovider"
            ]
          }
        ]
      }
    },
    "/api/v1/serviceowner/dialogs/{dialogId}/endusercontext/systemlabels": {
      "put": {
        "tags": [
          "Serviceowner"
        ],
        "summary": "Sets the system labels of a dialog",
        "description": "Sets the system labels of the dialog.\n\nOptimistic concurrency control is implemented using the If-Match header. Supply EnduserContextRevision to ensure that the context is not modified/deleted by another request in the meantime.",
        "operationId": "V1ServiceOwnerEndUserContextCommandsSetSystemLabel_SetDialogSystemLabels",
        "parameters": [
          {
            "name": "dialogId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "enduserId",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "if-Match",
            "in": "header",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "x-name": "SetDialogSystemLabelRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1ServiceOwnerEndUserContextCommandsSetSystemLabel_SetDialogSystemLabelRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "204": {
            "description": "The dialog system label was updated successfully.",
            "headers": {
              "Etag": {
                "description": "The new UUID ETag of the dialog",
                "schema": {
                  "type": "string"
                },
                "example": "123e4567-e89b-12d3-a456-426614174000"
              }
            }
          },
          "400": {
            "description": "Validation error occurred. See problem details for a list of errors.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized to update the supplied dialog (not owned by authenticated organization or has additional scope requirements defined in policy)."
          },
          "404": {
            "description": "The given dialog ID was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict occurred while processing the request."
          },
          "410": {
            "description": "Entity with the given key(s) is removed."
          },
          "412": {
            "description": "The supplied If-Match header did not match the current Revision value for the dialog. The request was not applied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Domain error occurred. See problem details for a list of errors.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token. This endpoint requires a token from Maskinporten with the scope(s) \"digdir:dialogporten.serviceprovider\"."
          },
          "503": {
            "description": "Service Unavailable, used when Dialogporten is in maintenance mode",
            "headers": {
              "Retry-After": {
                "description": "Delay before retrying the request. Datetime format RFC1123",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Service Unavailable"
                }
              }
            }
          }
        },
        "security": [
          {
            "maskinporten": [
              "digdir:dialogporten.serviceprovider"
            ]
          }
        ]
      }
    },
    "/api/v1/serviceowner/dialogs/endusercontext/systemlabels/actions/bulkset": {
      "post": {
        "tags": [
          "Serviceowner"
        ],
        "summary": "Sets system labels for multiple dialogs",
        "description": "Sets the system labels for a list of dialogs, optionally including a end user context revision for each dialog.",
        "operationId": "V1ServiceOwnerEndUserContextCommandsBulkSetSystemLabels_BulkSetDialogSystemLabels",
        "parameters": [
          {
            "name": "enduserId",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "x-name": "dto",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1ServiceOwnerEndUserContextCommandsBulkSetSystemLabels_BulkSetSystemLabel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "The dialog system labels was updated successfully."
          },
          "400": {
            "description": "Validation error occurred. See problem details for a list of errors.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The given dialog ID was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized to update the supplied dialog (not owned by authenticated organization or has additional scope requirements defined in policy)."
          },
          "409": {
            "description": "Conflict occurred while processing the request."
          },
          "412": {
            "description": "The supplied If-Match header did not match the current Revision value for the dialog. The request was not applied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Domain error occurred. See problem details for a list of errors.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token. This endpoint requires a token from Maskinporten with the scope(s) \"digdir:dialogporten.serviceprovider\"."
          },
          "503": {
            "description": "Service Unavailable, used when Dialogporten is in maintenance mode",
            "headers": {
              "Retry-After": {
                "description": "Delay before retrying the request. Datetime format RFC1123",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Service Unavailable"
                }
              }
            }
          }
        },
        "security": [
          {
            "maskinporten": [
              "digdir:dialogporten.serviceprovider"
            ]
          }
        ]
      }
    },
    "/api/v1/serviceowner/dialogs/{dialogId}/transmissions": {
      "get": {
        "tags": [
          "Serviceowner"
        ],
        "summary": "Gets a list of dialog transmissions",
        "description": "Gets the list of transmissions belonging to a dialog",
        "operationId": "V1ServiceOwnerDialogsQueriesSearchTransmissions_DialogTransmission",
        "parameters": [
          {
            "name": "dialogId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully returned the dialog transmission list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/V1ServiceOwnerDialogsQueriesSearchTransmissions_Transmission"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The given dialog ID was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "410": {
            "description": "Entity with the given key(s) is removed."
          },
          "401": {
            "description": "Missing or invalid authentication token. This endpoint requires a token from Maskinporten with the scope(s) \"digdir:dialogporten.serviceprovider\"."
          },
          "403": {
            "description": "Unauthorized to get the supplied dialog (not owned by authenticated organization or has additional scope requirements defined in policy)."
          },
          "503": {
            "description": "Service Unavailable, used when Dialogporten is in maintenance mode",
            "headers": {
              "Retry-After": {
                "description": "Delay before retrying the request. Datetime format RFC1123",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Service Unavailable"
                }
              }
            }
          }
        },
        "security": [
          {
            "maskinporten": [
              "digdir:dialogporten.serviceprovider"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Serviceowner"
        ],
        "summary": "Adds a transmission to a dialog",
        "description": "The transmission is created with the given configuration.\n\nOptimistic concurrency control is implemented using the If-Match header. Supply the Revision value from the GetDialog endpoint to ensure that the dialog is not modified/deleted by another request in the meantime.",
        "operationId": "V1ServiceOwnerDialogsCommandsCreateTransmission_DialogTransmission",
        "parameters": [
          {
            "name": "dialogId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "if-Match",
            "in": "header",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "x-name": "CreateTransmissionRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1ServiceOwnerDialogsCommandsCreateTransmission_TransmissionRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "The UUID of the created dialog transmission. A relative URL to the newly created activity is set in the \"Location\" header.",
            "headers": {
              "Etag": {
                "description": "The new UUID ETag of the dialog",
                "schema": {
                  "type": "string"
                },
                "example": "123e4567-e89b-12d3-a456-426614174000"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "example": "018bb8e5-d9d0-7434-8ec5-569a6c8e01fc"
              }
            }
          },
          "400": {
            "description": "Validation error occurred. See problem details for a list of errors.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The given dialog ID was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict occurred while processing the request."
          },
          "410": {
            "description": "Entity with the given key(s) is removed."
          },
          "412": {
            "description": "The supplied If-Match header did not match the current Revision value for the dialog. The request was not applied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Domain error occurred. See problem details for a list of errors.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token. This endpoint requires a token from Maskinporten with the scope(s) \"digdir:dialogporten.serviceprovider\"."
          },
          "403": {
            "description": "Unauthorized to create child entity for the given dialog (dialog not owned by authenticated organization or has additional scope requirements defined in service identifiers policy)."
          },
          "503": {
            "description": "Service Unavailable, used when Dialogporten is in maintenance mode",
            "headers": {
              "Retry-After": {
                "description": "Delay before retrying the request. Datetime format RFC1123",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Service Unavailable"
                }
              }
            }
          }
        },
        "security": [
          {
            "maskinporten": [
              "digdir:dialogporten.serviceprovider"
            ]
          }
        ]
      }
    },
    "/api/v1/serviceowner/dialogs/{dialogId}/seenlog": {
      "get": {
        "tags": [
          "Serviceowner"
        ],
        "summary": "Gets all seen log records for a dialog",
        "description": "Gets all seen log records for a dialog.",
        "operationId": "V1ServiceOwnerDialogsQueriesSearchSeenLogs_DialogSeenLog",
        "parameters": [
          {
            "name": "dialogId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully returned the dialog seen log records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/V1ServiceOwnerDialogsQueriesSearchSeenLogs_SeenLog"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The given dialog ID was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "410": {
            "description": "Entity with the given key(s) is removed."
          },
          "401": {
            "description": "Missing or invalid authentication token. This endpoint requires a token from Maskinporten with the scope(s) \"digdir:dialogporten.serviceprovider\"."
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable, used when Dialogporten is in maintenance mode",
            "headers": {
              "Retry-After": {
                "description": "Delay before retrying the request. Datetime format RFC1123",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Service Unavailable"
                }
              }
            }
          }
        },
        "security": [
          {
            "maskinporten": [
              "digdir:dialogporten.serviceprovider"
            ]
          }
        ]
      }
    },
    "/api/v1/serviceowner/dialogs/endusercontext": {
      "get": {
        "tags": [
          "Serviceowner"
        ],
        "summary": "Gets end user context system labels for dialogs",
        "description": "Performs a search for dialog end user context labels, returning a paginated list of dialog ids and end user context revisions.\n\n* Party is required.\n* System labels are matched with OR semantics.\n* See \\\"continuationToken\\\" in the response for how to get the next page of results.\n* hasNextPage will be set to true if there are more items to get.",
        "operationId": "V1ServiceOwnerDialogsQueriesSearchEndUserContext_DialogEndUserContext",
        "parameters": [
          {
            "name": "party",
            "in": "query",
            "style": "form",
            "explode": true,
            "required": true,
            "description": "Filter by one or more owning parties",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              ""
            ]
          },
          {
            "name": "contentUpdatedAfter",
            "in": "query",
            "description": "Only return context for dialogs with contentUpdatedAt greater than or equal to the supplied date-time.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "label",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Filter by one or more system labels",
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "$ref": "#/components/schemas/DialogEndUserContextsEntities_SystemLabel"
              }
            }
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Supply \"continuationToken\" for the response to get the next page of results, if hasNextPage is true",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit the number of results per page (1-1000, default: 100)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully returned the dialog list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedListOfV1ServiceOwnerDialogsQueriesSearchEndUserContext_DialogEndUserContextItem"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token. This endpoint requires a token from Maskinporten with the scope(s) \"digdir:dialogporten.serviceprovider digdir:dialogporten.serviceprovider.search\"."
          },
          "503": {
            "description": "Service Unavailable, used when Dialogporten is in maintenance mode",
            "headers": {
              "Retry-After": {
                "description": "Delay before retrying the request. Datetime format RFC1123",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Service Unavailable"
                }
              }
            }
          }
        },
        "security": [
          {
            "maskinporten": [
              "digdir:dialogporten.serviceprovider",
              "digdir:dialogporten.serviceprovider.search"
            ]
          }
        ]
      }
    },
    "/api/v1/serviceowner/dialogs/{dialogId}/activities": {
      "get": {
        "tags": [
          "Serviceowner"
        ],
        "summary": "Gets a list of dialog activities",
        "description": "Gets the list of activities belonging to a dialog",
        "operationId": "V1ServiceOwnerDialogsQueriesSearchActivities_DialogActivity",
        "parameters": [
          {
            "name": "dialogId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully returned the dialog activity list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/V1ServiceOwnerDialogsQueriesSearchActivities_Activity"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The given dialog ID was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token. This endpoint requires a token from Maskinporten with the scope(s) \"digdir:dialogporten.serviceprovider\"."
          },
          "403": {
            "description": "Unauthorized to get the supplied dialog (not owned by authenticated organization or has additional scope requirements defined in policy)."
          },
          "503": {
            "description": "Service Unavailable, used when Dialogporten is in maintenance mode",
            "headers": {
              "Retry-After": {
                "description": "Delay before retrying the request. Datetime format RFC1123",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Service Unavailable"
                }
              }
            }
          }
        },
        "security": [
          {
            "maskinporten": [
              "digdir:dialogporten.serviceprovider"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Serviceowner"
        ],
        "summary": "Adds an activity to a dialog's activity history",
        "description": "The activity is created with the given configuration.\n\nOptimistic concurrency control is implemented using the If-Match header. Supply the Revision value from the GetDialog endpoint to ensure that the dialog is not modified/deleted by another request in the meantime.",
        "operationId": "V1ServiceOwnerDialogsCommandsCreateActivity_DialogActivity",
        "parameters": [
          {
            "name": "dialogId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "if-Match",
            "in": "header",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "x-name": "CreateActivityRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1ServiceOwnerDialogsCommandsCreateActivity_ActivityRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "The UUID of the created dialog activity. A relative URL to the newly created activity is set in the \"Location\" header.",
            "headers": {
              "Etag": {
                "description": "The new UUID ETag of the dialog",
                "schema": {
                  "type": "string"
                },
                "example": "123e4567-e89b-12d3-a456-426614174000"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "example": "018bb8e5-d9d0-7434-8ec5-569a6c8e01fc"
              }
            }
          },
          "400": {
            "description": "Validation error occurred. See problem details for a list of errors.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The given dialog ID was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict occurred while processing the request."
          },
          "410": {
            "description": "Entity with the given key(s) is removed."
          },
          "412": {
            "description": "The supplied If-Match header did not match the current Revision value for the dialog. The request was not applied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Domain error occurred. See problem details for a list of errors.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token. This endpoint requires a token from Maskinporten with the scope(s) \"digdir:dialogporten.serviceprovider\"."
          },
          "403": {
            "description": "Unauthorized to create child entity for the given dialog (dialog not owned by authenticated organization or has additional scope requirements defined in service identifiers policy)."
          },
          "503": {
            "description": "Service Unavailable, used when Dialogporten is in maintenance mode",
            "headers": {
              "Retry-After": {
                "description": "Delay before retrying the request. Datetime format RFC1123",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Service Unavailable"
                }
              }
            }
          }
        },
        "security": [
          {
            "maskinporten": [
              "digdir:dialogporten.serviceprovider"
            ]
          }
        ]
      }
    },
    "/api/v1/serviceowner/dialogs": {
      "get": {
        "tags": [
          "Serviceowner"
        ],
        "summary": "Gets a list of dialogs",
        "description": "Performs a search for dialogs, returning a paginated list of dialogs.\n\n* All date parameters must contain explicit time zone. Example: 2023-10-27T10:00:00Z or 2023-10-27T10:00:00+01:00\n* See \"continuationToken\" in the response for how to get the next page of results.\n* hasNextPage will be set to true if there are more items to get.",
        "operationId": "V1ServiceOwnerDialogsQueriesSearch_Dialog",
        "parameters": [
          {
            "name": "serviceResource",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Filter by one or more service resources",
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "party",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Filter by one or more owning parties",
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "endUserId",
            "in": "query",
            "description": "Filter by end user id",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "extendedStatus",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Filter by one or more extended statuses",
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "externalReference",
            "in": "query",
            "description": "Filter by external reference",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "status",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Filter by status",
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "$ref": "#/components/schemas/DialogsEntities_DialogStatus"
              }
            }
          },
          {
            "name": "deleted",
            "in": "query",
            "description": "If set to 'include', the result will include both deleted and non-deleted dialogs. If set to 'exclude', the result will only include non-deleted dialogs. If set to 'only', the result will only include deleted dialogs",
            "schema": {
              "nullable": true,
              "allOf": [
                {
                  "$ref": "#/components/schemas/V1Common_DeletedFilter"
                }
              ]
            }
          },
          {
            "name": "createdAfter",
            "in": "query",
            "description": "Only return dialogs created after this date",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "description": "Only return dialogs created before this date",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "description": "Only return dialogs updated after this date",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "updatedBefore",
            "in": "query",
            "description": "Only return dialogs updated before this date",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "contentUpdatedAfter",
            "in": "query",
            "description": "Only return dialogs with content updated after this date",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "contentUpdatedBefore",
            "in": "query",
            "description": "Only return dialogs with content updated before this date",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "isContentSeen",
            "in": "query",
            "description": "Only return dialogs that have content that has/hasn't been seen.\nIf null, no filtering is applied\nIf true, returns dialogs that have been seen\nIf false, returns dialogs that have not been seen\n            \nA dialog's content is considered seen if:\n- It has been visited by the GET .../dialogs/{dialogId} endpoint since the last content update, and\n- It does not have a system label MarkedAsUnopened.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "dueAfter",
            "in": "query",
            "description": "Only return dialogs with due date after this date",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "dueBefore",
            "in": "query",
            "description": "Only return dialogs with due date before this date",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "visibleAfter",
            "in": "query",
            "description": "Only return dialogs with visible-from date after this date",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "visibleBefore",
            "in": "query",
            "description": "Only return dialogs with visible-from date before this date",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "process",
            "in": "query",
            "description": "Filter by process",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "systemLabel",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Filter by Display state",
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "$ref": "#/components/schemas/DialogEndUserContextsEntities_SystemLabel"
              }
            }
          },
          {
            "name": "excludeApiOnly",
            "in": "query",
            "description": "Whether to exclude API-only dialogs from the results. Defaults to false.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search string for free text search. Will attempt to fuzzily match in all free text fields in the aggregate",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "serviceOwnerLabels",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Filter by one or more labels. Multiple labels are combined with AND, i.e., all labels must match. Supports prefix matching with '*' at the end of the label. For example, 'label*' will match 'label', 'label1', 'label2', etc.",
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "searchLanguageCode",
            "in": "query",
            "description": "Limit free text search to texts with this language code, e.g. 'nb', 'en'. Culture codes will be normalized to neutral language codes (ISO 639). Default: search all culture codes",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Supply \"continuationToken\" for the response to get the next page of results, if hasNextPage is true",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit the number of results per page (1-1000, default: 100)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully returned the dialog list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedListOfV1ServiceOwnerDialogsQueriesSearch_Dialog"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token. This endpoint requires a token from Maskinporten with the scope(s) \"digdir:dialogporten.serviceprovider digdir:dialogporten.serviceprovider.search\"."
          },
          "503": {
            "description": "Service Unavailable, used when Dialogporten is in maintenance mode",
            "headers": {
              "Retry-After": {
                "description": "Delay before retrying the request. Datetime format RFC1123",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Service Unavailable"
                }
              }
            }
          }
        },
        "security": [
          {
            "maskinporten": [
              "digdir:dialogporten.serviceprovider",
              "digdir:dialogporten.serviceprovider.search"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Serviceowner"
        ],
        "summary": "Creates a new dialog",
        "description": "The dialog is created with the given configuration.\n\nFor detailed information on validation rules, see [the source for create dialog validators](https://github.com/Altinn/dialogporten/tree/main/src/Digdir.Domain.Dialogporten.Application/Features/V1/ServiceOwner/Dialogs/Commands/Create/Validators)",
        "operationId": "V1ServiceOwnerDialogsCommandsCreate_Dialog",
        "requestBody": {
          "x-name": "dto",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1ServiceOwnerDialogsCommandsCreate_Dialog"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The UUID of the created dialog aggregate. A relative URL to the newly created activity is set in the \"Location\" header.",
            "headers": {
              "Etag": {
                "description": "The new UUID ETag of the dialog",
                "schema": {
                  "type": "string"
                },
                "example": "123e4567-e89b-12d3-a456-426614174000"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "example": "018bb8e5-d9d0-7434-8ec5-569a6c8e01fc"
              }
            }
          },
          "400": {
            "description": "Validation error occurred. See problem details for a list of errors.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Domain error occurred. See problem details for a list of errors.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Dialog with IdempotentKey 01941821-ffca-73a1-9335-435a882be014 has already been created."
          },
          "401": {
            "description": "Missing or invalid authentication token. This endpoint requires a token from Maskinporten with the scope(s) \"digdir:dialogporten.serviceprovider\"."
          },
          "403": {
            "description": "Unauthorized to create a dialog for the given serviceResource (not owned by authenticated organization or has additional scope requirements defined in policy)."
          },
          "503": {
            "description": "Service Unavailable, used when Dialogporten is in maintenance mode",
            "headers": {
              "Retry-After": {
                "description": "Delay before retrying the request. Datetime format RFC1123",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Service Unavailable"
                }
              }
            }
          }
        },
        "security": [
          {
            "maskinporten": [
              "digdir:dialogporten.serviceprovider"
            ]
          }
        ]
      }
    },
    "/api/v1/serviceowner/dialogs/{dialogId}/actions/should-send-notification": {
      "get": {
        "tags": [
          "Serviceowner"
        ],
        "summary": "Returns a boolean value based on conditions used to determine if a notification is to be sent",
        "description": "Used by Altinn Notification only. Takes a dialogId and returns a boolean value based on conditions used to determine if a notification is to be sent.",
        "operationId": "V1ServiceOwnerDialogsQueriesNotificationCondition_NotificationCondition",
        "parameters": [
          {
            "name": "dialogId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "conditionType",
            "in": "query",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/V1ServiceOwnerDialogsQueriesNotificationCondition_NotificationConditionType"
                }
              ]
            }
          },
          {
            "name": "activityType",
            "in": "query",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/DialogsEntitiesActivities_DialogActivityType"
                }
              ]
            }
          },
          {
            "name": "transmissionId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully returned the notification determination.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1ServiceOwnerDialogsQueriesNotificationCondition_NotificationCondition"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token. This endpoint requires a token from Maskinporten with the scope(s) \"altinn:system/notifications.condition.check\"."
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable, used when Dialogporten is in maintenance mode",
            "headers": {
              "Retry-After": {
                "description": "Delay before retrying the request. Datetime format RFC1123",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Service Unavailable"
                }
              }
            }
          }
        },
        "security": [
          {
            "maskinporten": [
              "altinn:system/notifications.condition.check"
            ]
          }
        ]
      }
    },
    "/api/v1/serviceowner/dialogs/{dialogId}/transmissions/{transmissionId}": {
      "get": {
        "tags": [
          "Serviceowner"
        ],
        "summary": "Gets a single dialog transmission",
        "description": "Gets a single transmission belonging to a dialog.",
        "operationId": "V1ServiceOwnerDialogsQueriesGetTransmission_DialogTransmission",
        "parameters": [
          {
            "name": "dialogId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "transmissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully returned the dialog transmission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1ServiceOwnerDialogsQueriesGetTransmission_Transmission"
                }
              }
            }
          },
          "404": {
            "description": "The specified dialog ID or transmission ID was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "410": {
            "description": "Entity with the given key(s) is removed."
          },
          "401": {
            "description": "Missing or invalid authentication token. This endpoint requires a token from Maskinporten with the scope(s) \"digdir:dialogporten.serviceprovider\"."
          },
          "403": {
            "description": "Unauthorized to get child entity for the given dialog (dialog not owned by authenticated organization or has additional scope requirements defined in service identifiers policy)."
          },
          "503": {
            "description": "Service Unavailable, used when Dialogporten is in maintenance mode",
            "headers": {
              "Retry-After": {
                "description": "Delay before retrying the request. Datetime format RFC1123",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Service Unavailable"
                }
              }
            }
          }
        },
        "security": [
          {
            "maskinporten": [
              "digdir:dialogporten.serviceprovider"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Serviceowner"
        ],
        "summary": "Replaces a transmission",
        "description": "Replaces a given transmission with the supplied model.\n\nOptimistic concurrency control is implemented using the If-Match header. Supply the Revision value from the GetDialog endpoint to ensure that the dialog is not modified/deleted by another request in the meantime.",
        "operationId": "V1ServiceOwnerDialogsCommandsUpdateTransmission_DialogTransmission",
        "parameters": [
          {
            "name": "dialogId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "transmissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "if-Match",
            "in": "header",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "x-name": "UpdateTransmissionRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1ServiceOwnerDialogsCommandsUpdateTransmission_TransmissionRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "204": {
            "description": "The dialog transmission was updated successfully.",
            "headers": {
              "Etag": {
                "description": "The new UUID ETag of the dialog",
                "schema": {
                  "type": "string"
                },
                "example": "123e4567-e89b-12d3-a456-426614174000"
              }
            }
          },
          "400": {
            "description": "Validation error occurred. See problem details for a list of errors.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The specified dialog ID or transmission ID was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict occurred while processing the request."
          },
          "410": {
            "description": "Entity with the given key(s) is removed."
          },
          "412": {
            "description": "The supplied If-Match header did not match the current Revision value for the dialog. The request was not applied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Domain error occurred. See problem details for a list of errors.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token. This endpoint requires a token from Maskinporten with the scope(s) \"digdir:dialogporten.serviceprovider digdir:dialogporten.serviceprovider.changetransmissions\"."
          },
          "403": {
            "description": "Unauthorized to update child entity for the given dialog (dialog not owned by authenticated organization or has additional scope requirements defined in service identifiers policy)."
          },
          "503": {
            "description": "Service Unavailable, used when Dialogporten is in maintenance mode",
            "headers": {
              "Retry-After": {
                "description": "Delay before retrying the request. Datetime format RFC1123",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Service Unavailable"
                }
              }
            }
          }
        },
        "security": [
          {
            "maskinporten": [
              "digdir:dialogporten.serviceprovider",
              "digdir:dialogporten.serviceprovider.changetransmissions"
            ]
          }
        ]
      }
    },
    "/api/v1/serviceowner/dialogs/{dialogId}/seenlog/{seenLogId}": {
      "get": {
        "tags": [
          "Serviceowner"
        ],
        "summary": "Gets a single dialog seen log record",
        "description": "Gets a single dialog seen log record.",
        "operationId": "V1ServiceOwnerDialogsQueriesGetSeenLog_DialogSeenLog",
        "parameters": [
          {
            "name": "dialogId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "seenLogId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully returned the dialog seen log record.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1ServiceOwnerDialogsQueriesGetSeenLog_SeenLog"
                }
              }
            }
          },
          "404": {
            "description": "The given dialog ID was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "410": {
            "description": "Entity with the given key(s) is removed."
          },
          "401": {
            "description": "Missing or invalid authentication token. This endpoint requires a token from Maskinporten with the scope(s) \"digdir:dialogporten.serviceprovider\"."
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable, used when Dialogporten is in maintenance mode",
            "headers": {
              "Retry-After": {
                "description": "Delay before retrying the request. Datetime format RFC1123",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Service Unavailable"
                }
              }
            }
          }
        },
        "security": [
          {
            "maskinporten": [
              "digdir:dialogporten.serviceprovider"
            ]
          }
        ]
      }
    },
    "/api/v1/serviceowner/dialogs/{dialogId}/activities/{activityId}": {
      "get": {
        "tags": [
          "Serviceowner"
        ],
        "summary": "Gets a single dialog activity",
        "description": "Gets a single activity belonging to a dialog.",
        "operationId": "V1ServiceOwnerDialogsQueriesGetActivity_DialogActivity",
        "parameters": [
          {
            "name": "dialogId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "activityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully returned the dialog activity.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1ServiceOwnerDialogsQueriesGetActivity_Activity"
                }
              }
            }
          },
          "404": {
            "description": "The specified dialog ID or activity ID was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "410": {
            "description": "Entity with the given key(s) is removed."
          },
          "401": {
            "description": "Missing or invalid authentication token. This endpoint requires a token from Maskinporten with the scope(s) \"digdir:dialogporten.serviceprovider\"."
          },
          "403": {
            "description": "Unauthorized to get child entity for the given dialog (dialog not owned by authenticated organization or has additional scope requirements defined in service identifiers policy)."
          },
          "503": {
            "description": "Service Unavailable, used when Dialogporten is in maintenance mode",
            "headers": {
              "Retry-After": {
                "description": "Delay before retrying the request. Datetime format RFC1123",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Service Unavailable"
                }
              }
            }
          }
        },
        "security": [
          {
            "maskinporten": [
              "digdir:dialogporten.serviceprovider"
            ]
          }
        ]
      }
    },
    "/api/v1/serviceowner/dialogs/{dialogId}": {
      "get": {
        "tags": [
          "Serviceowner"
        ],
        "summary": "Gets a single dialog",
        "description": "Gets a single dialog aggregate.\n\nNote that this operation may return deleted dialogs (see the field `DeletedAt`).",
        "operationId": "V1ServiceOwnerDialogsQueriesGet_Dialog",
        "parameters": [
          {
            "name": "dialogId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "endUserId",
            "in": "query",
            "description": "Filter by end user id",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully returned the dialog aggregate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1ServiceOwnerDialogsQueriesGet_Dialog"
                }
              }
            }
          },
          "404": {
            "description": "The given dialog ID was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token. This endpoint requires a token from Maskinporten with the scope(s) \"digdir:dialogporten.serviceprovider\"."
          },
          "403": {
            "description": "Unauthorized to get the supplied dialog (not owned by authenticated organization or has additional scope requirements defined in policy)."
          },
          "503": {
            "description": "Service Unavailable, used when Dialogporten is in maintenance mode",
            "headers": {
              "Retry-After": {
                "description": "Delay before retrying the request. Datetime format RFC1123",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Service Unavailable"
                }
              }
            }
          }
        },
        "security": [
          {
            "maskinporten": [
              "digdir:dialogporten.serviceprovider"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Serviceowner"
        ],
        "summary": "Replaces a dialog",
        "description": "Replaces a given dialog with the supplied model.\n\nOptimistic concurrency control is implemented using the If-Match header. Supply the Revision value from the GetDialog endpoint to ensure that the dialog is not modified/deleted by another request in the meantime.",
        "operationId": "V1ServiceOwnerDialogsCommandsUpdate_Dialog",
        "parameters": [
          {
            "name": "dialogId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "if-Match",
            "in": "header",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "x-name": "dto",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1ServiceOwnerDialogsCommandsUpdate_Dialog"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "The dialog aggregate was updated successfully.",
            "headers": {
              "Etag": {
                "description": "The new UUID ETag of the dialog",
                "schema": {
                  "type": "string"
                },
                "example": "123e4567-e89b-12d3-a456-426614174000"
              }
            }
          },
          "400": {
            "description": "Validation error occurred. See problem details for a list of errors.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The given dialog ID was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict occurred while processing the request."
          },
          "410": {
            "description": "Entity with the given key(s) is removed."
          },
          "412": {
            "description": "The supplied If-Match header did not match the current Revision value for the dialog. The request was not applied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Domain error occurred. See problem details for a list of errors.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token. This endpoint requires a token from Maskinporten with the scope(s) \"digdir:dialogporten.serviceprovider\"."
          },
          "403": {
            "description": "Unauthorized to update the supplied dialog (not owned by authenticated organization or has additional scope requirements defined in policy)."
          },
          "503": {
            "description": "Service Unavailable, used when Dialogporten is in maintenance mode",
            "headers": {
              "Retry-After": {
                "description": "Delay before retrying the request. Datetime format RFC1123",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Service Unavailable"
                }
              }
            }
          }
        },
        "security": [
          {
            "maskinporten": [
              "digdir:dialogporten.serviceprovider"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Serviceowner"
        ],
        "summary": "Deletes a dialog",
        "description": "Deletes a given dialog (soft delete).\n\nNote that the dialog will still be available on the single details endpoint, but will have a deleted status. It will not appear on the list endpoint for either service owners nor end users.\nIf end users attempt to access the dialog via the details endpoint, they will get a 410 Gone response.\n\nOptimistic concurrency control is implemented using the If-Match header. Supply the Revision value from the GetDialog endpoint to ensure that the dialog is not deleted by another request in the meantime.",
        "operationId": "V1ServiceOwnerDialogsCommandsDelete_Dialog",
        "parameters": [
          {
            "name": "dialogId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "if-Match",
            "in": "header",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The dialog aggregate was deleted successfully.",
            "headers": {
              "Etag": {
                "description": "The new UUID ETag of the dialog",
                "schema": {
                  "type": "string"
                },
                "example": "123e4567-e89b-12d3-a456-426614174000"
              }
            }
          },
          "400": {
            "description": "Validation error occurred. See problem details for a list of errors.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The given dialog ID was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict occurred while processing the request."
          },
          "410": {
            "description": "Entity with the given key(s) is removed."
          },
          "412": {
            "description": "The supplied If-Match header did not match the current Revision value for the dialog. The request was not applied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token. This endpoint requires a token from Maskinporten with the scope(s) \"digdir:dialogporten.serviceprovider\"."
          },
          "403": {
            "description": "Unauthorized to delete the supplied dialog (not owned by authenticated organization or has additional scope requirements defined in policy)."
          },
          "503": {
            "description": "Service Unavailable, used when Dialogporten is in maintenance mode",
            "headers": {
              "Retry-After": {
                "description": "Delay before retrying the request. Datetime format RFC1123",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Service Unavailable"
                }
              }
            }
          }
        },
        "security": [
          {
            "maskinporten": [
              "digdir:dialogporten.serviceprovider"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Serviceowner"
        ],
        "summary": "Patch a single dialog",
        "description": "Patches a dialog aggregate with a RFC6902 JSON Patch document. The patch document must be a JSON array of RFC6902 operations.\nSee [https://tools.ietf.org/html/rfc6902](https://tools.ietf.org/html/rfc6902) for more information.\n            \nOptimistic concurrency control is implemented using the If-Match header. Supply the Revision value from the GetDialog endpoint to ensure that the dialog is not modified/deleted by another request in the meantime.",
        "operationId": "V1ServiceOwnerDialogsPatchDialog",
        "parameters": [
          {
            "name": "dialogId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "If-Match",
            "x-originalName": "etag",
            "in": "header",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "patchDocument",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JsonPatchOperations_Operation"
                }
              }
            },
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JsonPatchOperations_Operation"
                }
              }
            }
          },
          "required": true,
          "x-position": 3
        },
        "responses": {
          "204": {
            "description": "Patch was successfully applied.",
            "headers": {
              "Etag": {
                "description": "The new UUID ETag of the dialog",
                "schema": {
                  "type": "string"
                },
                "example": "123e4567-e89b-12d3-a456-426614174000"
              }
            }
          },
          "400": {
            "description": "Validation error occurred. See problem details for a list of errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token. Requires a Maskinporten-token with the scope \\\"digdir:dialogporten.serviceprovider\\\""
          },
          "403": {
            "description": "Unauthorized to update a dialog for the given serviceResource (not owned by authenticated organization or has additional scope requirements defined in policy)"
          },
          "404": {
            "description": "The given dialog ID was not found or is deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "410": {
            "description": "The dialog with the given key is removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "412": {
            "description": "The supplied Revision does not match the current Revision of the dialog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Domain error occurred. See problem details for a list of errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable, used when Dialogporten is in maintenance mode",
            "headers": {
              "Retry-After": {
                "description": "Delay before retrying the request. Datetime format RFC1123",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Service Unavailable"
                }
              }
            }
          }
        },
        "security": [
          {
            "maskinporten": [
              "digdir:dialogporten.serviceprovider"
            ]
          }
        ]
      }
    },
    "/api/v1/serviceowner/dialogs/{dialogId}/actions/restore": {
      "post": {
        "tags": [
          "Serviceowner"
        ],
        "summary": "Restore a dialog",
        "description": "Restore a dialog. ",
        "operationId": "V1ServiceOwnerDialogsCommandsRestore_Dialog",
        "parameters": [
          {
            "name": "dialogId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "if-Match",
            "in": "header",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The dialog aggregate was restored successfully."
          },
          "404": {
            "description": "The given dialog ID was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict occurred while processing the request."
          },
          "412": {
            "description": "The supplied If-Match header did not match the current Revision value for the dialog. The request was not applied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token. This endpoint requires a token from Maskinporten with the scope(s) \"digdir:dialogporten.serviceprovider\"."
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service Unavailable, used when Dialogporten is in maintenance mode",
            "headers": {
              "Retry-After": {
                "description": "Delay before retrying the request. Datetime format RFC1123",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Service Unavailable"
                }
              }
            }
          }
        },
        "security": [
          {
            "maskinporten": [
              "digdir:dialogporten.serviceprovider"
            ]
          }
        ]
      }
    },
    "/api/v1/serviceowner/dialogs/{dialogId}/actions/purge": {
      "post": {
        "tags": [
          "Serviceowner"
        ],
        "summary": "Permanently deletes a dialog",
        "description": "Deletes a given dialog (hard delete).\n\nOptimistic concurrency control is implemented using the If-Match header. Supply the Revision value from the GetDialog endpoint to ensure that the dialog is not deleted by another request in the meantime.",
        "operationId": "V1ServiceOwnerDialogsCommandsPurge_Dialog",
        "parameters": [
          {
            "name": "dialogId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "if-Match",
            "in": "header",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The dialog aggregate was deleted successfully."
          },
          "404": {
            "description": "The given dialog ID was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict occurred while processing the request."
          },
          "412": {
            "description": "The supplied If-Match header did not match the current Revision value for the dialog. The request was not applied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token. This endpoint requires a token from Maskinporten with the scope(s) \"digdir:dialogporten.serviceprovider\"."
          },
          "403": {
            "description": "Unauthorized to delete the supplied dialog (not owned by authenticated organization or has additional scope requirements defined in policy)."
          },
          "503": {
            "description": "Service Unavailable, used when Dialogporten is in maintenance mode",
            "headers": {
              "Retry-After": {
                "description": "Delay before retrying the request. Datetime format RFC1123",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Service Unavailable"
                }
              }
            }
          }
        },
        "security": [
          {
            "maskinporten": [
              "digdir:dialogporten.serviceprovider"
            ]
          }
        ]
      }
    },
    "/api/v1/serviceowner/dialogs/{dialogId}/actions/freeze": {
      "post": {
        "tags": [
          "Serviceowner"
        ],
        "summary": "Freezes a dialog",
        "description": "Freezes a given dialog.\nThe dialog cannot be updated/deleted by the service owner (but can still be altered via admin-scope) when frozen",
        "operationId": "V1ServiceOwnerDialogsCommandsFreeze_FreezeDialog",
        "parameters": [
          {
            "name": "dialogId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "if-Match",
            "in": "header",
            "schema": {
              "type": "string",
              "format": "guid",
              "nullable": true
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The dialog aggregate was frozen successfully.",
            "headers": {
              "Etag": {
                "description": "The new UUID ETag of the dialog",
                "schema": {
                  "type": "string"
                },
                "example": "123e4567-e89b-12d3-a456-426614174000"
              }
            }
          },
          "400": {
            "description": "Validation error occurred. See problem details for a list of errors.",
            "content": {
[...]
