name: Build (PR)

on:
  pull_request:

jobs:
  discover:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - id: set-matrix
        run: |
          folders=$(find . -mindepth 1 -maxdepth 10 -type d -name 'AT.Common.*.Publish' -printf '"%p",')
          folders="[${folders%,}]"
          echo "matrix=$folders" >> $GITHUB_OUTPUT

  build:
    needs: discover
    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJson(needs.discover.outputs.matrix) }}
    uses: ./.github/workflows/build-pr-template.yaml
    secrets: inherit
    with:
      package-path: ${{ matrix.package }}

  check:
    needs: build
    runs-on: ubuntu-latest
    if: always()
    timeout-minutes: 10
    steps:
      - name: Evaluate results
        run: |
          echo "Build: ${{ needs.build.result }}"

          # Pass if all succeeded
          if [[ "${{ needs.build.result }}" == "success" ]]; then
            echo "✅ All checks passed"
            exit 0
          fi

          # Fail otherwise
          echo "❌ Checks failed"
          exit 1
