name: Build all & publish changed packages

on:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  discover:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - id: set-matrix
        run: |
          folders=$(find . -mindepth 1 -maxdepth 10 -type d -name 'AT.Common.*.Publish' -printf '"%p",')
          folders="[${folders%,}]"
          echo "matrix=$folders" >> $GITHUB_OUTPUT

  build:
    needs: discover
    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJson(needs.discover.outputs.matrix) }}
    uses: ./.github/workflows/build-main-template.yml
    with:
      package-path: ${{ matrix.package }}

  publish:
    needs: discover
    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJson(needs.discover.outputs.matrix) }}
    uses: ./.github/workflows/publish-template.yml
    secrets: inherit
    permissions:
      contents: write
      id-token: write
    with:
      package-path: ${{ matrix.package }}
